
* { box-sizing: border-box;}
body { 
    margin: 0;
    margin-bottom:50px;
    }

/* Style the header */
#header {
    padding: 20px;
    text-align: center;
    background-position: right;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

/* Style the top navigation bar */
#topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#topnav a:hover {
    background-color: #ddd;
    color: green;
}

/* Insert Image */
img{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Blur image */
img:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Not Blur image */
.img:hover
{
    border: 2px solid #ccc;
    opacity: 1;
    filter: alpha(opacity=50);
}

/* image center */
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* image border */
.borderimg{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 195px;
}

/* Change color on hover */
.borderimg:hover {
    border: 1px solid #777;
}

.container {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.centeritem {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.alert {
    padding: 20px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;

    /* color:#CCCCCC; 
    background-color:#000000; 
    border-bottom:1px 
    solid #3B3B3B;  */
}
