{% extends "base.html" %}
<!DOCTYPE html>

{% block title %} PCT0101 prepared by: Shazwan {% endblock %}

{% block topic %} Lets Study Together {% endblock %}

{% block body %}




    <div style="padding: 18px">
        This file were made for learning purpose<br>
        <ol class = "container">
            <li>
                Insults are not welcome.</li>
            <li>
                Look at the long-term benefit.</li>
            <li>
                Enjoy doing what you're doing.</li>
            <li>
                Think and say something positive.</li>
        </ol>
        Let's work to help others, not make them feel stupid.
    </div>
{% endblock %}